main {
    position: relative;
}

.background-img-container {
    text-align: center;
}

.background-img-container img {
    opacity: 0.1;
}

.search-container form {
    width: 550px;
    height: 50px;
    background-color: #4E4E57;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 5px;
    margin-bottom: 4px;
}

.search-container form input {
    width: 200px;
    flex: 1;
    background-color: #4E4E57;
    color: #FFF;
    border: none;
    border-radius: 0.5rem;
    padding: 0 15px;
}

.search-container form input::placeholder {
    color: #BDBCBA;
}

.search-container form input:focus {
    border: none;
    outline: none;
}

.search-container button {
    background-color: unset;
    border: none;
    padding: 0;
    line-height: 0;
    cursor: pointer;
}