main {
    position: relative;
    text-align: center;
}

main > img {
    opacity: 0.1;
}

.search-container {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    width: 550px;
    height: 50px;
    background-color: #4E4E57;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 5px;
}

.search-container input {
    width: 200px;
    flex: 1;
    background-color: #4E4E57;
    color: #FFF;
    border: none;
    border-radius: 0.5rem;
    padding: 0 15px;
}

.search-container input::placeholder {
    color: #BDBCBA;
}

.search-container input:focus {
    border: none;
    outline: none;
}

.search-container img {
    cursor: pointer;
}