.summoner-profile-container {
    background-color: #31313C;
    height: 270px;
}

.content-container {
    display: flex;
    flex-direction: row;
    width: 1080px;
    margin: 8px auto 0 auto;
}

.content-container .content-left {
    width: 400px;
    height: 10px;
}

.content-container .content-right {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 672px;
    margin-left: 8px;
}

.match {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.basic-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;

    background-color: #28344E;
    border-radius: 5px;
}

.infos {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 0 5px 20px;
    gap: 30px;
}

.game-info {
    display: flex;
    flex-direction: column;
    width: 140px;
}

.my-info {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.my-info .build {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.my-info .build .champion {
    position: relative;
    width: 50px;
    height: 50px;
}

.my-info .build .champion img {
    border-radius: 50%;
    width: 50px;
}

.my-info .build .champion p {
    position: absolute;
    width: 20px;
    height: 20px;
    color: white;
    background-color: dimgray;
    border-radius: 50%;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    right: 0;
}

.my-info .build .spells,
.my-info .build .runes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
}

.my-info .build .spells img {
    width: 20px;
    border-radius: 5px;
}

.my-info .build .runes .primary-rune {
    width: 20px;
    background-color: black;
    border-radius: 50%;
}

.my-info .build .runes .sub-rune {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-info .build .runes .sub-rune img {
    width: 17px;
}

.my-info .items {
    display: flex;
    gap: 2px;
}

.my-info .items img {
    width: 20px;
    border-radius: 5px;
}

.stat-info {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.stat-info div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail-info-btn {
    cursor: pointer;
    border: none;
    background-color: #2F436E;
    width: 40px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 8px;
}

.detail-info {
    height: 300px;
    background-color: #28344E;
    border-radius: 5px;
    display: none;
}

.detail-info.opened {
    display: block;
}