.queue-type-container {

}

.loading-container {
    position: relative;
    width: inherit;
    min-height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none; /* recent-search-container가 loading-container의 영역을 넘으면 hover가 제대로 동작하지 않아, 해결하기 위한 속성 */
}

.loading-container .icon {
    width: 200px;
}

.loading-container .dark-box {
    position: absolute;
    width: 300px;
    height: 200px;
    background: linear-gradient(to right, rgba(28, 28, 31, 0), rgba(28, 28, 31, 0.5) 50%, rgba(28, 28, 31, 0));
    animation: darkFade 3s infinite ease;
}

.error {
    text-align: center;
    margin: 150px 0;
}

.error .status-code {
    color: var(--font-primary);
    font-size: 100px;
    font-weight: 600;
}

.error .error-message {
    color: var(--font-primary);
    font-size: 25px;
    line-height: 150px;
}

.error .home-btn {
    width: 100px;
    height: 50px;
    background-color: #333242;
    border-radius: 5px;
    border: none;
    color: #E8E7E5;
    cursor: pointer;
    font-size: 18px;
}

.error .home-btn:hover {
    background-color: #47465C;
}

.summoner-profile-container {
    background-color: #31313C;
    height: 270px;
}

.summoner-profile {
    width: 1080px;
    margin: 0 auto;
    padding-top: 35px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
}

.summoner-profile .profile-icon {
    width: 125px;
    height: 120px;
    position: relative;
}

.summoner-profile .profile-icon img {
    position: absolute;
    border-radius: 10px;
    width: 100%;
}

.summoner-profile .profile-icon .summoner-level {
    position: absolute;
    color: var(--font-primary);
    background-color: #1C1C1F;
    border-radius: 10px;
    padding: 0 10px;
    line-height: 22px;
    top: 95%;
    left: 50%;
    transform: translateX(-50%);
}

.summoner-profile .profile-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.summoner-profile .profile-info .summoner-name {
    color: var(--font-primary);
    font-size: 30px;
    font-weight: 500;
}

.summoner-profile .profile-info .renew-record-btn {
    width: 95px;
    height: 50px;
    border-radius: 5px;
    background-color: #1181F0;
    color: var(--font-primary);
    border: none;
    font-size: 15px;
    font-weight: 500;
}

.summoner-profile .profile-info .renew-record-btn:hover {
    cursor: pointer;
    background-color: #0F73D6;
}

main .content-container {
    display: flex;
    flex-direction: row;
    width: 1080px;
    margin: 8px auto 0 auto;
    color: #9E9EB1;
}

main .content-container .content-left {
    width: 400px;
    height: 10px;
}

main .content-container .content-right {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 672px;
    margin-left: 8px;
}

.match {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.match-summary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;

    border-radius: 5px;
}

.match.win .match-summary {
    background-color: #28344E;
}

.match.lose .match-summary {
    background-color: #59343B;
}

.match.again .match-summary {
    background-color: #282830;
}

.infos {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 0 5px 20px;
    gap: 30px;
}

.game-info {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 120px;
}

.game-info .queue-type,
.game-info .result {
    font-weight: 700;
    font-size: 15px;
}

.match.win .game-info .queue-type {
    color: #5383E8;
}

.match.lose .game-info .queue-type {
    color: #E84057;
}

.game-info .time-stamp,
.game-info .game-duration-time {
    font-size: 13px;
}

.game-info .line {
    width: 50px;
    height: 1px;
}

.match.win .game-info .line {
    background-color: #2F436E;
}

.match.lose .game-info .line {
    background-color: #703C47;
}

.my-info {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.my-info .build,
.match-detail table .build {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.my-info .build .champion,
.match-detail table .build .champion {
    position: relative;
}

.my-info .build .champion img {
    border-radius: 50%;
    width: 50px;
}

.my-info .build .champion p {
    position: absolute;
    width: 20px;
    height: 20px;
    color: var(--font-primary);
    background-color: dimgray;
    border-radius: 50%;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    right: 0;
}

.my-info .build .spells,
.my-info .build .runes,
.match-detail table .build .spells,
.match-detail table .build .runes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
}

.my-info .build .spells img {
    width: 20px;
    border-radius: 5px;
}

.my-info .build .runes .primary-rune {
    width: 20px;
    background-color: black;
    border-radius: 50%;
}

.my-info .build .runes .sub-rune {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-info .build .runes .sub-rune img {
    width: 17px;
}

.items {
    display: flex;
    gap: 2px;
}

.items img {
    width: 20px;
    border-radius: 5px;
}

.match.win .items img {
    background-color: #3E3E73;
}

.match.lose .items img {
    background-color: #855858;
}

.match.again .items img {
    background-color: #42424F;
}

.stat-info {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.stat-info > div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    min-width: 70px;
    gap: 3px;
}

.stat-info .label {
    font-size: 13px;
}

.stat-info .value {
    font-size: 18px;
    color: var(--font-primary);
}

.stat-info .kda .d {
    color: #E84057;
}

.match-detail-btn {
    cursor: pointer;
    border: none;
    width: 40px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 8px;
}

.match.win .match-detail-btn {
    background-color: #2F436E;
}

.match.lose .match-detail-btn {
    background-color: #703C47;
}

.match.again .match-detail-btn {
    background-color: #42424F;
}

.match-detail {
    border-radius: 5px;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: height 0.3s ease, opacity 0.3s ease;

    display: flex;
    flex-direction: column;
    gap: 2px;
}

.match-detail .summary {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: #282830;
}

.match-detail .summary .objectives {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;
}

.match-detail .summary .objectives > div {
    display: flex;
    gap: 4px;
    padding: 0 5px;
}

.match-detail .summary .graph {
    width: 350px;
}

.match-detail .summary .graph .total {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 17px;
}

.match-detail .summary .graph .total .value {
    position: absolute;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #FFF;
    font-size: 12px;
    left: 50%;
    transform: translateX(-50%);
}

.match-detail.opened {
    height: 100%;
    opacity: 1;
}

.match-detail table .build .champion img {
    border-radius: 50%;
    width: 40px;
}

.match-detail table .build .champion p {
    position: absolute;
    width: 15px;
    height: 15px;
    color: white;
    background-color: dimgray;
    border-radius: 50%;
    font-size: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
}

.match-detail table .build .spells img {
    width: 16px;
    border-radius: 5px;
}

.match-detail table .build .runes .primary-rune {
    width: 16px;
    background-color: black;
    border-radius: 50%;
}

.match-detail table .build .runes .sub-rune {
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.match-detail table .build .runes .sub-rune img {
    width: 13px;
}

table {
    table-layout: fixed;
    width: 100%;
}

table thead {
    height: 40px;
    background-color: #31313C;
}

table th {
    font-size: 14px;
    vertical-align: middle;
}

table th:nth-child(1) {
    text-align: left;
    padding-left: 15px;
}

table th:nth-child(1) .result {
    font-weight: 700;
}

table.win th:nth-child(1) .result {
    color: #5383E8;
}

table.lose th:nth-child(1) .result {
    color: #E84057;
}

table tbody {
    font-size: 12px;
}

table.win tbody {
    background-color: #28344E;
}

table.lose tbody {
    background-color: #59343B;
}

table.again tbody {
    background-color: #282830;
}

.match.win table tbody tr.me {
    background-color: #3E4173;
}

.match.lose table tbody tr.me {
    background-color: #7D3D3D;
}

table td {
    text-align: center;
    vertical-align: middle;
    padding: 4px 8px;
}

table td:nth-child(2) {
    text-align: left;
    padding-left: unset;
}

table td:nth-child(2) div p,
table td:nth-child(3) div p,
table td:nth-child(5) div p {
    line-height: 15px;
}

table td:nth-child(2) .summoner-name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    color: #FFF;
    font-weight: 600;
}

table td:nth-child(4) .damage {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 8px;
}

table td:nth-child(4) .damage-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

table td:nth-child(4) .graph {
    width: 50px;
    height: 6px;
    background-color: #2E2E2D;
}

.load-more-matches-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    background-color: #333242;
    border-radius: 5px;
    border: none;
    color: #E8E7E5;
    cursor: pointer;
}

.load-more-matches-btn:not(:disabled):hover {
    background-color: #47465C;
}

.load-more-matches-btn:disabled {
    cursor: unset;
}

.loading {
    animation: loading 1s ease infinite;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes darkFade {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}