<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Val Search</title>

    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@4.0.1/reset.min.css"
    />
    <script th:src="@{/js/index.js}"></script>

</head>
<body>

<header></header>

<main>
    <div id="findPlayerBox">
        <h1>플레이어 찾기</h1>
        <div id="searchBox">
            <input id="summonerName" type="text" placeholder="플레이어 이름 (예 : player#KR1)">
            <button onClick="searchPlayer()">검색</button>
        </div>
    </div>
</main>

<footer></footer>

</body>
</html>