<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@4.0.1/reset.min.css"
    />
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/summoners.css}">

    <script th:src="@{/js/summoners.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"
            integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>
<body>

<header>
    <div class="header-top"></div>
    <div class="header-bottom"></div>
</header>

<main>
    <div class="summoner-profile-container">
        <p id="summonerName" th:text="${summonerName}"></p>
    </div>

    <div class="content-container">
        <div class="content-left"></div>
        <div class="content-right">
            <button id="loadMoreMatchesBtn" onClick="loadMoreMatches()">
                Load More
            </button>
        </div>
    </div>

</main>

<footer></footer>


</body>
</html>