<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/summoners.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@4.0.1/reset.min.css"
    />

<!--    <script th:src="@{/js/summoners.js}"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"
            integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>
<body>

<header>
    <div class="header-top"></div>
    <div class="header-bottom"></div>
</header>

<main>
    <div class="summoner-profile-container">
        <p id="summonerName" th:text="${summonerName}"></p>
    </div>

    <div class="content-container">
        <div class="content-left"></div>
        <div class="content-right">
            <div class="match">
                <div class="basic-info">
                    <div class="infos">
                        <div class="game-info">
                            <p class="queue-type">개인/2인 랭크 게임</p>
                            <p class="time-stamp">3일 전</p>
                            <p class="result">승리</p>
                            <p class="game-duration-time">23분 12초</p>
                        </div>
                        <div class="my-info">
                            <div class="build">
                                <div class="champion">
                                    <p>23</p>
                                    <img src="https://ddragon.leagueoflegends.com/cdn/14.24.1/img/champion/Graves.png" alt="">
                                </div>
                                <div class="spells">
                                    <img src="https://ddragon.leagueoflegends.com/cdn/14.24.1/img/spell/SummonerFlash.png" alt="">
                                    <img src="https://ddragon.leagueoflegends.com/cdn/14.24.1/img/spell/SummonerBarrier.png" alt="">
                                </div>
                                <div class="runes">
                                    <img class="primary-rune" src="https://ddragon.leagueoflegends.com/cdn/img/perk-images/Styles/Precision/Conqueror/Conqueror.png" alt="">
                                    <div class="sub-rune">
                                        <img src="https://ddragon.leagueoflegends.com/cdn/img/perk-images/Styles/7200_Domination.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="items">
                                <img src="https://ddragon.leagueoflegends.com/cdn/13.24.1/img/item/3153.png" alt="">
                                <img src="https://ddragon.leagueoflegends.com/cdn/13.24.1/img/item/3152.png" alt="">
                                <img src="https://ddragon.leagueoflegends.com/cdn/13.24.1/img/item/3044.png" alt="">
                                <img src="https://ddragon.leagueoflegends.com/cdn/13.24.1/img/item/1037.png" alt="">
                                <img src="https://ddragon.leagueoflegends.com/cdn/13.24.1/img/item/1055.png" alt="">
                                <img src="https://ddragon.leagueoflegends.com/cdn/13.24.1/img/item/3111.png" alt="">
                                <img src="https://ddragon.leagueoflegends.com/cdn/13.24.1/img/item/3364.png" alt="">
                            </div>
                        </div>
                        <div class="stat-info">
                            <div>
                                <p>K / D / A</p>
                                <p class="kda"><span>9</span>&thinsp;/&thinsp;<span>3</span>&thinsp;/&thinsp;<span>10</span></p>
                            </div>
                            <div>
                                <p>KA / D</p>
                                <p class="kda-avg">6.33</p>
                            </div>
                            <div>
                                <p>CS</p>
                                <p class="cs">187</p>
                            </div>
                        </div>
                    </div>
                    <button class="detail-info-btn">
                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAA1UlEQVR4nO2QTWoCQRCFG+LPEVRQQTyCBwiIYxXuvZNXcOVitBo6GbNJsnXvXhcaEE/ypEZ7aEVHsxR8UNBV9b5X0Ma8lIoEIxIsu4KKuSP1qFeZdNAXRGwBLRKsKUbtFqw79Xi/smboUCKLLz9kiw3HqF/CA4cqCVbZMYsf/kU5XXbGKJLFPAsR7CKHlof7Fg0WbIMj3xnsdSVkzxbtnkOTBH+5cBjCguQs5Bjk+0Q9Jk9DhzcWzIKLvj7vwmEICabBh308DJuT3hcosGCipe9/wc+lA3leyiusrkpJAAAAAElFTkSuQmCC" alt="expand-arrow">
                    </button>
                </div>
                <div class="detail-info"></div>
            </div>
            <div class="match">
                <div class="basic-info">
                    <div class="infos">
                        <div class="game-info">
                            <p class="queue-type">개인/2인 랭크 게임</p>
                            <p class="time-stamp">3일 전</p>
                            <p class="result">승리</p>
                            <p class="game-duration-time">23분 12초</p>
                        </div>
                        <div class="my-info">
                            <div class="build">
                                <div class="champion">
                                    <p>23</p>
                                    <img src="https://ddragon.leagueoflegends.com/cdn/14.24.1/img/champion/Graves.png" alt="">
                                </div>
                                <div class="spells">
                                    <img src="https://ddragon.leagueoflegends.com/cdn/14.24.1/img/spell/SummonerFlash.png" alt="">
                                    <img src="https://ddragon.leagueoflegends.com/cdn/14.24.1/img/spell/SummonerBarrier.png" alt="">
                                </div>
                                <div class="runes">
                                    <img class="primary-rune" src="https://ddragon.leagueoflegends.com/cdn/img/perk-images/Styles/Precision/Conqueror/Conqueror.png" alt="">
                                    <div class="sub-rune">
                                        <img src="https://ddragon.leagueoflegends.com/cdn/img/perk-images/Styles/7200_Domination.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="items">
                                <img src="https://ddragon.leagueoflegends.com/cdn/13.24.1/img/item/3153.png" alt="">
                                <img src="https://ddragon.leagueoflegends.com/cdn/13.24.1/img/item/3152.png" alt="">
                                <img src="https://ddragon.leagueoflegends.com/cdn/13.24.1/img/item/3044.png" alt="">
                                <img src="https://ddragon.leagueoflegends.com/cdn/13.24.1/img/item/1037.png" alt="">
                                <img src="https://ddragon.leagueoflegends.com/cdn/13.24.1/img/item/1055.png" alt="">
                                <img src="https://ddragon.leagueoflegends.com/cdn/13.24.1/img/item/3111.png" alt="">
                                <img src="https://ddragon.leagueoflegends.com/cdn/13.24.1/img/item/3364.png" alt="">
                            </div>
                        </div>
                        <div class="stat-info">
                            <div>
                                <p>K / D / A</p>
                                <p class="kda"><span>9</span>&thinsp;/&thinsp;<span>3</span>&thinsp;/&thinsp;<span>10</span></p>
                            </div>
                            <div>
                                <p>KA / D</p>
                                <p class="kda-avg">6.33</p>
                            </div>
                            <div>
                                <p>CS</p>
                                <p class="cs">187</p>
                            </div>
                        </div>
                    </div>
                    <button class="detail-info-btn">
                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAA1UlEQVR4nO2QTWoCQRCFG+LPEVRQQTyCBwiIYxXuvZNXcOVitBo6GbNJsnXvXhcaEE/ypEZ7aEVHsxR8UNBV9b5X0Ma8lIoEIxIsu4KKuSP1qFeZdNAXRGwBLRKsKUbtFqw79Xi/smboUCKLLz9kiw3HqF/CA4cqCVbZMYsf/kU5XXbGKJLFPAsR7CKHlof7Fg0WbIMj3xnsdSVkzxbtnkOTBH+5cBjCguQs5Bjk+0Q9Jk9DhzcWzIKLvj7vwmEICabBh308DJuT3hcosGCipe9/wc+lA3leyiusrkpJAAAAAElFTkSuQmCC" alt="expand-arrow">
                    </button>
                </div>
                <div class="detail-info closed"></div>
            </div>
        </div>
    </div>

</main>

<footer></footer>



</body>
</html>